@import "tailwindcss";

.logo {
  height: 45px;
  width: 120px;
}

.hidden-class {
  font-size: 22px;
}

.pokeCard {
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.navbar {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.365);
}
.navbar .Banner {
  transition: background 0.5s ease;
}

@keyframes BannerAnim {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 0.65;
    transform: translateY(-15px);
  }
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.searchBar {
  opacity: 0;
  transform: translateX(-2px);
  animation: searchBoxAnim 0.9s ease 0.5s forwards;
}

@keyframes searchBoxAnim {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.Banner {
  animation: BannerAnim 0.5s ease;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes fadeInCards {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes cardsHover {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

.pokeCards-anim {
  animation: fadeInCards 0.6s ease-in-out 0s 1;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.pokeCards-anim:hover {
  transform: translateY(-12px);
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out forwards;
}

.skeleton-image,
.skeleton-text {
  animation: pulse 1.5s infinite ease-in-out;
}

.pokeCard-skeleton {
  background: #e0e0e0;
}
